.flow {
  --padding-inline: 1rem;

  display: grid;
  grid-template-columns:
    minmax(var(--padding-inline), var(--gap-32, 32px))
    3fr
    minmax(var(--padding-inline), var(--gap-32, 32px));
  grid-template-rows: auto;

  /* row-gap: var(--gap-32, 32px); */
  margin-block: var(--gap-32, 32px);;
}