.info {
  grid-column: span 3;
  grid-row: 1;

  height: auto;
  padding: var(--pad-16, 16px);
  
  background-color: var(--magnolia);
  border-radius: var(--border-radius);
  border: var(--border-veronica);

  font-size: var(--p-sm-size, 0.833rem);
  font-weight: var(--medium, 500);
  color: var(--veronica, #9747ff);
}
