.flow {
  --padding-inline: 1rem;

  display: grid;
  grid-template-columns:
    minmax(var(--padding-inline), var(--gap-32, 32px))
    3fr
    minmax(var(--padding-inline), var(--gap-32, 32px));
  grid-template-rows: auto;

  row-gap: var(--gap-32, 32px);
}

.outline {
  width: fit-content;
  height: auto;
  padding: var(--irregular-pad);

  display: inline-flex;
  align-items: center;
  column-gap: var(--gap-8, 8px);

  font-size: var(--p-sm-size, 0.833rem);
  font-weight: var(--regular, 400);
  
  border: 0.6px solid var(--default-french-gray, #CED4DA);
  border-radius: var(--border-radius, 4px);
}
