.button {
  width: fit-content;
  height: auto;
  padding: 4px 8px;

  display: inline-flex;
  align-items: center;
  gap: var(--gap-8, 8px);

  border-radius: var(--border-radius, 4px);

  font-family: inherit;
  font-size: var(--font-ms-11, 11.24px);
  cursor: pointer;
}

.fill {
  background-color: var(--night, #121417);
  border: none;
  color: var(--white, #fff);
}

.outline {
  background-color: var(--white, #ffffff);
  border: 0.6px solid var(--default-french-gray, #CED4DA);
  color: var(--night, #121417);
}