.header {
  grid-column: span 2;
  grid-row: 1;

  align-self: start;
  margin-top: var(--gap-16, 16px);
}

.menu {
  height: auto;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin-top: var(--gap-32, 32px);
}
