.header {
  grid-column: span 3;
  grid-row: 1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  row-gap: var(--gap-32, 32px);
  
  margin-top: var(--padding-inline, 1rem);
}

.menu {
  grid-column: span 2;
  grid-row: 2;

  height: auto;
}
