.language-content {
  width: max-content;
  height: auto;
  
  display: flex;
  flex-direction: row;
  gap: var(--gap-16, 16px);
}

.language {
  color: var(--night, #9747ff);
  font-weight: var(--light, 300);
  text-decoration: underline;
}