:root {
  --seaslat: #F8F9FA;
  --anti-flash-white: #E9ECEF;
  --platinum: #DEE2E6;
  --french-gray-1: #CED4DA;
  --french-gray-2: #ADB5BD;
  --slate-gray: #6C757D;
  --outer-space: #495057;
  --onyx: #343A40;
  --eerie-black: #212529;

  --white: #ffffff;
  --night: #121417;

  --veronica: #9747FF;
  --grape: #6c2cc0;
  --celestial-blue: #0597ea;

  --border-radius: 4px;
  /* --border-width: 4px; */

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-ms-11: 11.24px;
  --font-ms-12: 12.64px;
  --font-ms-14: 14.22px;
  --font-ms-16: 16px;
  --font-ms-18: 18px;
  --font-ms-20: 20.30px;
  --font-ms-22: 22.80px;
  --font-ms-25: 25.63px;
  --font-ms-28: 28.83px;
  --font-ms-32: 32.44px;
  --font-ms-36: 36.49px;
  --font-ms-46: 46.18px;
  --font-ms-51: 51.96px;
  --font-ms-58: 58.45px;
  --font-ms-65: 65.76px;
  --font-ms-73: 73.98px;
  --font-ms-83: 83.23px;

  --thin: 100;
  --ultralight: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --black: 800;
  --ultrablack: 900;

  --pad-4: 4px;
  --pad-8: 8px;
  --pad-16: 16px;
  --pad-24: 24px;
  --pad-32: 32px;
  --pad-64: 64px;

  --gap-8: 8px;
  --gap-16: 16px;
  --gap-24: 24px;
  --gap-32: 32px;
  --gap-48: 48px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--white, #ffffff);
  color: var(--night, #121417)
}
