.flow {
  --padding-inline: 1rem;

  display: grid;
  grid-template-columns:
    minmax(var(--padding-inline), var(--gap-32, 32px))
    3fr
    minmax(var(--padding-inline), var(--gap-32, 32px));
  grid-template-rows: auto;

  row-gap: var(--gap-32, 32px);
}

/* Link with outline style */
.outline {
  width: fit-content;
  height: auto;
  padding: var(--irregular-pad);

  display: inline-flex;
  align-items: center;
  column-gap: var(--gap-8, 8px);

  font-size: var(--p-sm-size, 0.833rem);
  font-weight: var(--regular, 400);
  
  border: 0.6px solid var(--default-french-gray, #CED4DA);
  border-radius: var(--border-radius, 4px);
}

/* CardInfo */
.white-link {
  font-size: var(--p-sm-size, 0.833rem);
  font-weight: var(--400, regular);
}
.white-link:is(:link, :visited) {
  color: var(--white, #ffffff);
}
.white-link:hover {
  color: var(--mauve, #D4B2FF);
}
.white-link:active {
  color: var(--celestial-blue, #0597ea);
}

.white {
  color: var(--white, #ffffff);
}

.size {
  position: absolute;
  right: -15px;
  bottom: -28px;

  font-size: 4rem;
  font-weight: var(--thin, 100);
}

@media (width < 768px) {
  .content-main {
    width: calc(576px - 150px);
  }

  .title-main {
    font-size: var(--font-sm-46, 46.18px);
  }
}

@media (width < 475px) {
  .content-main {
    width: 100%;
  }
  
  .title-main {
    font-size: var(--font-sm-28, 28.83px);
  }
}

@media (width < 475px) {
  .top {
    width: 100%;
  }
}

@media (width < 475px) {
  .bottom {
    width: 100%;
  }
}