.search-content {
  grid-column: span 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: auto;
  padding: var(--pad-4, 4px);
  border-radius: var(--border-radius, 4px);
  background-color: var(--seasalt, #f8f9fa);
  cursor: pointer;
}

.p {
  padding-left: var(--pad-4);

  font-size: var(--p-size);
  font-weight: var(--medium, 500);
}
