.footer {
  grid-column: span 3;
  grid-row: 3;
  justify-self: end;

  width: fit-content;
  height: auto;
  padding: var(--pad-16, 16px);
  margin-bottom: var(--padding-inline, 1rem);
  
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  background-color: var(--white, #ffffff);
  border: var(--border-platinum);
  border-radius: var(--border-radius);
}

.layout {
  width: fit-content;
  height: auto;

  display: flex;
  align-items: center;
  column-gap: var(--gap-8, 8px);
}