.footer {
  /* width: 576px; */
  height: 76px;
  padding: var(--pad-16, 16px);
  
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  background-color: var(--white, #ffffff);
  border: var(--border-platinum);
  border-radius: var(--border-radius);
}

.layout {
  width: fit-content;
  height: auto;

  display: flex;
  align-items: center;
  column-gap: var(--gap-8, 8px);
}

@media (width < 768px) {
  .footer {
    width: calc(576px - 150px);
  }
}

@media (width < 475px) {
  .footer {
    width: 100%;
  }
}